body {
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(72, 72, 72);
    font-family: "Segoe", "Segoe UI", "Arial", "sans-serif";
}

input {
    background-color: transparent;
    outline: none;
    border: 1px;
}

button {
    outline: none;
    border: 1px;
}

li {
    list-style: none;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

::-webkit-scrollbar {
    background-color: rgb(245, 245, 245);
    width: 8px;
    height: 0;
    border-radius: 20px;
}

::placeholder {
    color: rgb(26, 120, 221);
}

ul {
    padding: 0;
    margin: 0;
}

#task-detail-container-hide-display {
    display: none;
}

.top-container {
    height: 48px;
    background-color: rgb(26, 120, 221);
}

.left-container {
    width: 292px;
    height: 560px;
    box-shadow: -1.9px 0px 8px gray;
    display: inline-block;
}

.center-container,
#center-container,
.center-right-container  {
    display: inline-block;
    vertical-align: top;
    background-color: rgb(245, 245, 245);
    /* width: 973px; */
    height: 560px;
}

.center-container {
    width: 600px;
}
/*center right*/
.center-right-container {
    width: 973px;
}

.top-container .todo-link {
    display: inline;
    color: white;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    padding-top: 13px;
}

.top-container .todo-link i {
    width: 2px;
    line-height: 48px;
}

.top-container .todo-title {
    display: inline-block;
}

.top-container .todo-title p {
    font-family: SegoeUI-SemiBold-final, Segoe UI Semibold, SegoeUI-Regular-final, Segoe UI, "Segoe UI Web (West European)", Segoe, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Tahoma, Helvetica, Arial, sans-serif;
    color: white;
    width: 42px;
    padding-left: 8px;
    padding-right: 12px;
    font-weight: 600;
    line-height: 48px;
    margin: 0;
}

.top-container .search-bar {
    display: inline-block;
}

.top-container .search-bar i {
    width: 384px;
    margin-left: 250px;
    border-radius: 5px;
    background-color: white;
    padding: 8px;
    font-size: small;
}

.top-container .settings-icon {
    display: inline-block;
    margin-left: 300px;
    width: 48px;
    text-align: center;
}

.top-container .settings-icon i {
    width: 16px;
    color: white;
}

.top-container .question-icon {
    display: inline-block;
    color: white;
    width: 16px;
    margin-left: 10px;
}

.left-container .left-side-content {
    width: 292px;
    max-height: 400px;
    overflow: auto;
}

.left-container .left-side-content div {
    padding-left: 24px;
}

.left-container .left-side-content .user-list {
    width: 268px;
    height: 50px;
}

.left-container .left-side-content p {
    margin-top: 0;
    margin-bottom: 0;
}

.left-container .left-side-content div:hover {
    background-color: rgb(240, 240, 240);
}

.left-container .navigation-bar {
    width: 242px;
    height: 48px;
    padding-top: 16px;
    margin-right: 24px;
    line-height: 48px;
    padding-left: 24px;
}

.left-container .left-side-content .user-list .left-notes-title {
    display: inline-block;
    margin-left: 16px;
    margin-top: 12px;
}

.left-container hr {
    width: 258px;
    height: 0.1px;
    margin: 9px 16px;
    margin-block: 0;
    opacity: 0.4;
    border-width: 0.1px;
}

/* new list */
#my-list li i:first-child {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    display: inline-block;
}

.my-list li i:last-child {
    display: inline-block;
}

.left-container .new-list-info .new-list {
    color: rgb(26, 120, 221);
    display: inline-block;
    padding-left: 24px;
}

.left-container .new-list-info .new-list:hover {
    background-color: rgb(240, 240, 240);
}

.left-container .new-list-info .new-list .add-new-list {
    display: inline-block;
    padding-left: 10px;
    width: 180px;
    height: 50px;
    line-height: 50px;
}

.left-container .new-list-info .new-list .add-new-list input {
    padding: 5px;
    outline: none;
}

.left-container .new-list-info .new-list-icon {
    display: inline-block;
    width: 55px;
    height: 50px;
    line-height: 48px;
    text-align: center;
}

.left-container .new-list-info .new-list-icon:hover {
    background-color: rgb(240, 240, 240);
}

.left-container .new-list-info .new-list-icon i {
    display: inline-block;
    line-height: 48px;
}

.left-container .apps-container {
    height: 48px;
    position: fixed;
    bottom: 0;
}

.left-container .apps-container .bottom-app {
    text-align: center;
    display: inline-block;
    width: 54.8px;
    height: 48px;
}

.left-container .apps-container .bottom-app:hover {
    background-color: rgb(240, 240, 240);
}

.left-container .apps-container i {
    width: 16px;
    height: 13px;
    line-height: 48px;
}

.center-container #task-info,
.center-right-container #task-info {
    padding: 20px 50px;
}

.center-container .task-status-header,
.center-right-container .task-status-header {
    padding: 20px 20px;
    font-size: medium;
}

.center-container .task-status-header p,
.center-right-container .task-status-header p {
    padding-left: 10px;
    display: inline-block;
}

.center-container #task-info .task-title,
.center-right-container #task-info .task-title {
    height: 41px;
    line-height: 41px;
    display: inline-block;
}

.center-container #task-info .task-title {
    width: 340px;
}

.center-right-container #task-info .task-title {
    width: 640px;
}

.center-container #task-info .task-title p,
.center-right-container #task-info .task-title p  {
    display: inline-block;
    margin-left: 10px;
}

.center-container #task-info .task-feature,
.center-right-container #task-info .task-feature {
    display: inline-block;
    height: 41px;
    line-height: 41px;
}

.center-container #task-info .task-feature .sort,
.center-right-container #task-info .task-feature .sort {
    display: inline-block;
}

.center-container #task-info .task-feature .suggestions,
.center-right-container #task-info .task-feature .suggestions {
    display: inline-block;
    margin-left: 50px;
}

.center-container #day,
.center-right-container #day  {
    height: 20px;
    font-size: 12px;
    opacity: 0.8;
}

.center-container #day {
    width: 340px;
}

.center-right-container #day {
    width: 640px;
}

.center-container .add-task-container,
.center-right-container .add-task-container {
    margin-left: 30px;
    margin-right: 30px;
    height: 97px;
}

.center-container .add-task-container {
    width: 540px;
}

.center-right-container .add-task-container {
    width: 900px;
}

.center-container .add-task-container .add-task-input-container,
.center-right-container .add-task-container .add-task-input-container {
    background-color: white;
    border-radius: 5px;
    margin-top: 15px;
    height: 52px;
}

.center-container .add-task-container .add-task-input-container {
    width: 540px;
}

.center-right-container .add-task-container .add-task-input-container {
    width: 900px;
}

.center-container .add-task-container .add-task-input-container .task-radio,
.center-right-container .add-task-container .add-task-input-container .task-radio {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    opacity: 0.5;
    font-size: medium;
}

.center-container .add-task-container .add-task-input-container .task-input-container,
.center-right-container .add-task-container .add-task-input-container .task-input-container  {
    display: inline-block;
}

.center-container .add-task-container .add-task-input-container .task-input-container input,
.center-right-container .add-task-container .add-task-input-container .task-input-container input {
    padding: 0;
    height: 50px;
    border-style: hidden;
    border-radius: 5px;
    outline: none;
}

.center-container .add-task-container .add-task-input-container .task-input-container input {
    width: 400px;
}

.center-right-container .add-task-container .add-task-input-container .task-input-container input {
    width: 800px;
}

.center-container .add-task-container .add-task-feature-container,
.center-right-container .add-task-container .add-task-feature-container {
    padding-left: 15px;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    box-shadow: 0.1px 0.1px 1px gray;
}

.center-container .add-task-container .add-task-feature-container .add-task-feature,
.center-right-container .add-task-container .add-task-feature-container .add-task-feature  {
    display: inline-block;
}

.center-container .add-task-container .add-task-feature-container .add-task-feature {
    width: 460px;
}

.center-right-container .add-task-container .add-task-feature-container .add-task-feature {
    width: 820px;
}

.center-container .add-task-container .add-task-feature-container i,
.center-right-container .add-task-container .add-task-feature-container i {
    display: inline-block;
    margin-right: 15px;
    opacity: 0.8;
}

.center-container .add-task-container #add-button,
.center-right-container .add-task-container #add-button {
    display: inline-block;
    background-color: white;
    width: 35px;
    opacity: 0.5;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0.1px 0.1px 0.1px 0.4px black;
}

.center-container .add-task-container #add-button:active,
.center-right-container .add-task-container #add-button:active {
    background-color: greenyellow;
}

.center-container .user-task-container,
.center-right-container .user-task-container {
    margin-left: 30px;
    margin-right: 30px;
    /* height: 300px; */
    max-height: 300px;
    overflow: auto;
}

.center-container .user-task-container {
    width: 540px;
}

.center-right-container .user-task-container {
    width: 900px;
}

.center-container .user-task-container #user-task-ul {
    width: 540px;
}

.center-right-container .user-task-container #user-task-ul {
    width: 900px;
}

.center-container .user-task-container #user-task-ul .user-task-items,
.center-right-container .user-task-container #user-task-ul .user-task-items {
    margin-top: 20px;
}

.center-container .user-task-container #user-task-ul .user-task-items .task-radio,
.center-right-container .user-task-container #user-task-ul .user-task-items .task-radio {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    opacity: 0.5;
    font-size: medium;
    background-color: white;
}

.center-container .user-task-container #user-task-ul .user-task-items .task-radio-mark,
.center-right-container .user-task-container #user-task-ul .user-task-items .task-radio-mark {
    color: blue;
}

.selected-task {
    background-color: black;
    color: black;
}

.center-container .user-task-container #user-task-ul .user-task-items .user-task-info,
.center-right-container .user-task-container #user-task-ul .user-task-items .user-task-info {
    background-color: white;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

.center-container .user-task-container #user-task-ul .user-task-items .user-task-info {
    width: 440px;
}

.center-right-container .user-task-container #user-task-ul .user-task-items .user-task-info {
    width: 800px;
}

.center-container .user-task-container #user-task-ul .user-task-items .star-icon,
.center-right-container .user-task-container #user-task-ul .user-task-items .star-icon  {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: white;
}

.center-container .user-task-container #user-task-ul .user-task-items .star-icon-mark,
.center-right-container .user-task-container #user-task-ul .user-task-items .star-icon-mark {
    color: blue;
}

.task-detail-container {
    width: 375px;
    height: 560px;
    display: inline-block;
    background-color: rgb(240, 240, 240);
    vertical-align: top;
    margin-left: -5px;
}

.task-detail-container .detail-header {
    padding: 15px;
}

.task-detail-container .detail-header .detail-header-title-wrapper {
    padding-left: 10px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task-detail-container .detail-header .detail-header-title-wrapper div {
    display: inline-block;
}

.task-detail-container .detail-header .detail-header-title-wrapper input {
    padding-left: 10px;
    width: 260px;
    height: 40px;
}

.task-detail-container .detail-header .task-elaborate-features {
    /* margin-top: 60px; */
    max-height: 430px;
    overflow: auto;
}

.task-detail-container .detail-header .task-elaborate-features .base-add-container {
    padding-left: 10px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.task-detail-container .detail-header .task-elaborate-features .base-add-container #add-step {
    display: inline-block;
    padding-left: 10px;
    width: 280px;
    height: 30px;
}

.task-detail-container .detail-header .task-elaborate-features .add-to-my-day-container {
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.task-detail-container .detail-header .task-elaborate-features .task-plan-container {
    padding-left: 10px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
}

.task-detail-container .detail-header .task-elaborate-features .task-plan-container:hover,
.task-detail-container .detail-header .task-elaborate-features .task-plan-container button:hover {
    background-color: rgb(240, 240, 240);
}

.task-detail-container .detail-header .task-elaborate-features .pick-category-container {
    padding-left: 10px;
    margin-top: 5px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
}

.task-detail-container .detail-header .task-elaborate-features .pick-category-container input {
    padding-left: 10px;
}

.task-detail-container .detail-header .task-elaborate-features .pick-category-container:hover {
    background-color: rgb(240, 240, 240);
}


.task-detail-container .detail-header .task-elaborate-features .add-to-my-day-container input {
    padding-left: 10px;
}

.task-detail-container .detail-header .task-elaborate-features .add-note-container {
    background-color: white;
    margin-top: 10px;
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 16px;
}

.task-detail-container .detail-header .task-elaborate-features .add-note-container #add-note-input {
    height: 50px;
    line-height: 50px;
}

.task-detail-container .detail-header .task-elaborate-features .add-note-container p {
    font-size: small;
    height: 30px;
    line-height: 30px;
}

.task-detail-container .detail-header .task-elaborate-features .add-to-my-day-container:hover,
.task-detail-container .detail-header .task-elaborate-features .add-to-my-day-container button:hover {
    background-color: rgb(240, 240, 240);
}

.task-detail-container .detail-header .task-elaborate-features .add-to-my-day-container button,
.task-detail-container .detail-header .task-elaborate-features .task-plan-container button {
    background-color: white;
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
}

.task-detail-container .task-detail-footer {
    height: 50px;
    line-height: 50px;
    margin: 0px 15px;
}

.task-detail-container .task-detail-footer p {
    display: inline-block;
    width: 290px;
    text-align: center;
}

